<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>274683227643-llh0o0s7fr98cb924goha5f84vqute2v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.274683227643-llh0o0s7fr98cb924goha5f84vqute2v</string>
	<key>API_KEY</key>
	<string>AIzaSyAtr8L03x2parMJw5-VsQUbvNC3bv04Srk</string>
	<key>GCM_SENDER_ID</key>
	<string>274683227643</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seosh.PartyRecruitment</string>
	<key>PROJECT_ID</key>
	<string>party-recruitment</string>
	<key>STORAGE_BUCKET</key>
	<string>party-recruitment.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:274683227643:ios:0bf4f6a0eb75a1fe48af5e</string>
</dict>
</plist>